
<div class="container" >

  <h1>Den</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background: #db95b8;">
          <div class="navbar-nav" >
        <a class="nav-link active" routerLink="/home"><b>Home</b> </a>
            <a class="nav-link" routerLink="/info"><b>Info</b></a>
            <a class="nav-link" routerLink="/contactus"><b>Contactus</b></a>
            <a class="nav-link" routerLink="/about"><b>About</b></a>
            <a class="nav-link" routerLink="/profile"><b>Profile</b></a>
          </div>
        </div>
      </nav>
</div>
<router-outlet></router-outlet>